<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Kenya Data WebMap</title>
</head>

<body>
    <div class="information">
        <nav>
            <a href="index">Nairobi County</a>
            <a href="constituencies">Constituencies</a>
            <a href="protected">Protected Areas</a>
            <a href="roads">Roads</a>
        </nav>
    </div>
    <div class="titles">
        <h3>Nairobi Roads</h3>
    </div>
    <div id="map" style="height: 100vh; width: 100%">
        <!-- REQUIRED - leaflet js link  -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <!-- REQUIRED jquery link  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            //Define some constants like map center, the basemap url (we are using openstreetmap)
            var osm = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
                    maxZoom: 19,
                    attribution: "© OpenStreetMap",
                }
            );

            //load some dummy special schools
            var RuiruSec = L.marker([-1.149, 36.96]).bindPopup("RUIRU SEC SCH."),
                RuiruGirls = L.marker([-1.146, 36.947]).bindPopup(
                    "RUIRU GIRLS SEC SCH."
                ),
                RuiriStar = L.marker([-1.164, 36.955]).bindPopup(
                    "RUIRU STAR SEC SCH."
                );

            var specialschools = L.layerGroup([
                RuiruSec,
                RuiruGirls,
                RuiriStar,
            ]);

            //GROUP BASEMAP AND FIRST LAYER TO MAP

            var map = L.map("map", {
                center: [-1.2921, 36.8219],
                zoom: 10,
                layers: [osm, specialschools],
            });

            var baseMaps = {
                OpenStreetMap: osm,
            };

            var overlayMaps = {
                "Special Schools": specialschools,
            };

            var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);


            //load constituencies
            var consituenciesdata = (
                $.ajax({
                    url: `http://demo.osl.co.ke/geoserver/WebMap/wfs?request=GetFeature&version=1.0.0&typeName=NairobiConstituencies&outputFormat=json`,
                    dataType: "json",
                    success: console.log("constituencies loaded"),
                })
            );

            //this functions waits for constituencies to be loaded and displays it on a map
            $.when(consituenciesdata).done((data) => {
                let constituencies = L.geoJSON(data, {
                })
                layerControl.addOverlay(constituencies, "Constituencies");
            });

            //load hospitals
            var hospitalsdata = (
                $.ajax({
                    url: `http://demo.osl.co.ke/geoserver/WebMap/wfs?request=GetFeature&version=1.0.0&typeName=NairobiHealthFacilities&outputFormat=json`,
                    dataType: "json",
                    success: console.log("hospitals loaded"),
                })
            );

            //this functions waits for hospitals to be loaded and displays it on a map
            $.when(hospitalsdata).done((data) => {
                let hospitals = L.geoJSON(data, {
                })
                layerControl.addOverlay(hospitals, "Health Facilities");
            });

            //load schools
            var schoolsdata = (
                $.ajax({
                    url: `http://demo.osl.co.ke/geoserver/WebMap/wfs?request=GetFeature&version=1.0.0&typeName=NairobiSecScls&outputFormat=json`,
                    dataType: "json",
                    success: console.log("schools loaded"),
                })
            );

            //this functions waits for schools to be loaded and displays it on a map
            $.when(schoolsdata).done((data) => {
                let schools = L.geoJSON(data, {
                })
                layerControl.addOverlay(schools, "Schools");
            });

 
        </script>
    </div>
</body>

</html>